<li class="list">
  {{#if isEditingTitle}}
    <form {{action 'toggleEditingTitle' on="submit"}}>
      {{input type="text" placeholder=list.name value=list.name focus-out="toggleEditingTitle"}}
      <button type="submit">Save</button>
    </form>
  {{else}}
    <h3><button {{action "toggleEditingTitle"}}>{{list.name}}</button></h3>
  {{/if}}

  <ul class="list-items">
    {{#each list.items as |item| }}
      {{todo-item item=item}}
    {{/each}}
    <li class="add-item">
      {{#if isAddingItem}}
        {{create-item onAdd=(action 'addNewItem')}}
      {{else}}
        <button class="create-item-button" {{action "toggleAddingItem"}}>Add New Item!</button>
      {{/if}}
    </li>
  </ul>
</li>
