<li class="list-wrapper">
  <div class="list">
    {{#if isEditingTitle}}
      <form class='list-title-edit-wrapper' {{action 'toggleEditingTitle' on="submit"}}>
        <label class='list-title-edit'>
          {{input type="text" placeholder=list.name value=list.name focus-out="toggleEditingTitle"}}
          <button class='list-title-edit-button' type="submit">Save</button>
        </label>
      </form>
    {{else}}
      <a class='list-title' href='#' {{action "toggleEditingTitle"}}>{{list.name}}</a>
    {{/if}}

    <ul class="list-items">
      {{#each list.items as |item| }}
        {{todo-item item=item onDelete=(action 'deleteItem')}}
      {{/each}}
      <li class="create-item">
        {{#if isAddingItem}}
          {{create-item onAdd=(action 'addNewItem')}}
        {{else}}
          <a class="create-item" href="#" {{action "toggleAddingItem"}}>Add New Item!</a>
        {{/if}}
      </li>
    </ul>
  </div>
</li>
